html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Navigation Section */
.top-navigation {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.top-navigation > .content {
  width: 60%;
  height: 70px;
  margin: 0 auto;
}
.top-navigation .links li {
  display: inline-block;
  margin-left: 25px;
}
.top-navigation .links > a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #838994;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.top-navigation .links > a > .active  {
  color: #4c5058;
  font-weight: bolder;
}
.top-navigation .links > a li:hover {
  cursor: pointer;
  color: #333333;
}
.top-navigation .links {
  margin-top: 25px;
  float: right;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.content {
    padding: 0px 15px;
    width: 970px;
    height: 70px;
    margin: 260px auto;
    letter-spacing: 1px;
}

.introduction h1  {
    color: #fff;
    text-align: center;
    font-size: 3em;
    font-weight: 300;
}
.introduction  h3 {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    font-weight: 100;
}
}
.top-navigation .logo {
  margin-top: 15px;
}
.logo {
  margin-top: 12px;
}

.introduction {
  background-image: url('../images/first-background.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 46rem;
  color: #fff;
  overflow: auto;
  vertical-align: baseline;
  box-sizing: border-box;
}

.big-button {
  margin: 0 auto;
  display: block;
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  padding: 16px 26px;
  line-height: 1.33;
  background-color: #F15A29;
  width: 9rem;
  cursor: pointer;
}

.big-button:hover {
  background-color: #C94B21;
}

.cases {
  text-align: center;
  font-size: 2em;
  margin-top: -4em;
}
.cases .content {
  margin-bottom: 10.5em;
}

.cases .devices {
  width: 25%;
  display: inline-block;
  /*Styles to assist with debugging*/
  box-sizing: border-box;
  height: 1em;
  font-size: 1em;
  margin-bottom: 5em;
  margin-left: 3%;
  margin-right: %;
}
.content .devices > h3 {
  font-size: 0.66em;
  color: #333333;
}
.devices {
}

.social .icons li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 10px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}
.social {
  padding-top: 10px;
  text-align: center;
  
}
.social .content {
margin: 40px auto;
}
.social .content p {
  color: #eaebec;
}
.social .icons {
  margin-right: 45px;
  text-align: center;
}
.social .facebook {
  color: #4c66a4;
}
.social .twitter {
  color: #55acee;
}
.social .instagram {
  color: #3f729b;
}
.border-top {
  border-top: solid 1px #eaebec;
  margin-top: 3em;
}
h5 {
  color: #333333;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}


audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}


audio:not([controls]) {
  display: none;
  height: 0;
}


[hidden],
template {
  display: none;
}


a {
  background-color: transparent;
}


a:active,
a:hover {
  outline: 0;
}


abbr[title] {
  border-bottom: 1px dotted;
}


b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


mark {
  background: #ff0;
  color: #000;
}


small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


img {
  border: 0;
}



svg:not(:root) {
  overflow: hidden;
}




figure {
  margin: 1em 40px;
}


hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}



pre {
  overflow: auto;
}


code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}


button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}


button {
  overflow: visible;
}


button,
select {
  text-transform: none;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


input {
  line-height: normal;
}



input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}



input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

textarea {
  overflow: auto;
}



optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}